h1 {
    text-align: right;
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    color: #dad4c8;
    margin-right: 40px;
    margin-top: 75px;
    font-size-adjust: 100%;
  }
  
  body {
    background-color: #000000;
    margin: 0;
    padding: 0;
  }
  
  .animated {
    transition: transform 0.6s;
  }
  
  .highlighted {
    stroke-width: 0.5px;
    stroke: #dad4c8;
    filter: drop-shadow(0 0 5px #2e3e24);
  }
  
  .tooltip {
    position: absolute;
    display: none;
    background-color: white;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
  }
  
  svg {
    background-color: #000000;
  }
  
  .final {
    text-align: right;
    margin-right: 40px;
    line-height: 20px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #dad4c8;
    text-transform: uppercase;
    margin-bottom: 30px;
    margin-top: 30px;
  }
  
  /* Additional Roboto font styles */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  /* Define other Roboto font styles as needed */
  