html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  #container {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  h1 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    color: #dad4c8;
    margin: 10px 20px 0;
  }
  
  h2 {
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    color: #dad4c8;
    margin: 10px 20px 0;
  }
  
  body {
    background-color: #000000;
  }
  
  .final {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: #dad4c8;
  }
  
  svg {
    display: block;
    margin: 0 auto; /* Adjust margin as needed */
  }
  
  .tooltip {
    position: absolute;
    display: none;
    background-color: white;
    padding: 3px;
    border: 1px solid white;
    border-radius: 3px;
    font-family: "Roboto", sans-serif;
  }
  .tooltip.active {
    font-size: 12px; /* Adjust the font size as needed */
}

#legend {
    position: absolute;
    top: 20px; /* Adjust top margin as needed */
    left: 50%; /* Position in the middle */
    transform: translateX(-50%); /* Center horizontally */
    max-width: 300px; /* Limit the legend width */
    max-height: 80px; /* Limit the legend height */
    overflow-y: auto; /* Add vertical scrollbar if necessary */
}


  /* Additional Roboto font styles */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  